html {
  font-size: 22px;
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-size: 1rem;
  color: seashell;
  font-family: Helvetica, sans-serif;
  opacity: 0.9;
}

/* Header */
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
}

li {
  text-decoration: underline;
  margin: 0 1rem;
}

header img {
  height: 50px;
  width: auto;
}

/* Our Mission Hero */
.our-mission {
  margin: 69px auto;
  height: 700px;
  max-width: 1200px;
  background-image: url('./assets/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.our-mission div {
  background-color: black;
  width: 100%;
  text-align: center;
}

/* Tea of the Month Section */
.month-tea {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.month-tea__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month-tea__card {
  width: 300px;
  margin: 0 0.5rem;
}

.month-tea__card img {
  width: inherit;
  height: auto;
}

.month-tea__card p {
  margin-top: 0.5rem;
  font-weight: bold;
}
